@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
}
.fv-bg{
	height: 800px;
	background-color:#f6f7f9;
}
.fv-text{
	font-size:107px;
	letter-spacing: -5px;
	font-family: 'Courgette', cursive;
	color:#eeeff1;
	padding:100px 0 0 95px;
	transform: rotate(-5deg);
}
/*---------------ここからヘッダー-----------------*/
header{
	position:absolute;
	top:0px;
	width: 100%;
	height:50px;
/*	background-color: aquamarine;*/
	padding:28px;

}
.head{
	margin:0 auto;
	width:100%;
}
.header-logo{
	font-size:40px;
	font-family:bodoni-urw, serif;
	font-weight: 500;
	float: left;
	height: 100px;
}
.tel{
	font-size: 30px;
	font-weight:600;
	color:#f74d95;
}
.time{
	font-size:16px;
	font-weight:500;
}
.store-info{
	padding-right:5%;
}
.store-info ul{
	float:right;
}
.store-info li{
text-align: right;
}
.cl{
	clear:both;
	content:"";
}
/*---------------ここからトップ-----------------*/
.top-wrapper{
	width:100%;
	padding-left:10%;
	position:absolute;
	top:200px;
}
.contents{
	width: 1140px;
	margin: 0 auto;
	position:absolute;
}
.left{
	width: 650px;
}
.top-wrapper.title{
	
}
.top-wrapper .title p{
	font-size:40px;
	color:#f74d95;
	font-weight:600;
}
.top-wrapper .title p span{
	font-size:90%;
}
.top-wrapper .title h1{
	font-size:103px;
	font-weight:700;
	padding-top:10px;
	background:-webkit-linear-gradient(0deg,#f6c314, #ff65aa);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.top-wrapper .title h1 span{
	letter-spacing:-20px;
}
.top-wrapper h2{
	font-size:23px;
	font-weight:600;
	color: #333333
}
.copy{
	font-family: "ＭＳ ゴシック", "MS Gothic";
	font-size:35px;
	color:#f74d95;
	font-weight:bold;
	font-style:oblique;
	letter-spacing:-2px;
	padding:30px 0 30px 0;
}
.copy span{
	font-size:50px;
}
.btn a{
	display:block;
	width:400px;
	text-decoration: none;
	text-align: center;
	font-size:25px;
	font-weight: 500;
	color:white;
	padding:16px 63px;
  background: -webkit-linear-gradient(0deg, #f6c314, #ff65aa);
	border-radius:30px;
}

/*グラデのかけ方↓
https://marie-web.design/blog/text-gradation/*/

/*------------満足度99％ (.circle)--------------*/
.circle{
	width: 170px;
	height: 170px;
	background-color:#f74d95;
	border-radius:50%;
	color:white;
	font-weight:700;
	text-align: center;
	position:absolute;
	top:200px;
	left:550px;
}
.sat{
	font-size:25px;
	padding-top:18%;	
}
.per{
	font-size:90px;
	font-family: Arial, Helvetica, 'sans-serif';
	font-style:oblique;
	letter-spacing: -8px;
}
.per span{
	font-size:40%;
	-webkit-text-stroke: 2px #f74d95;
}
.vertical p{
	font-family:'Sawarabi Mincho', sans-serif;
	writing-mode:vertical-rl;
	color:#f74d95;
}
.vertical{
	position: absolute;
	top:230px;
	right:-30%;
	transform:rotate(10deg);
}
/*------------ここからpoint-wrapper--------------*/
.point-wrapper{
	text-align: center;
	background-color: antiquewhite;
}
.point-wrapper .title{
	font-size:70px;
	font-family: 'Lobster', cursive;
	transform: rotate(-5deg);
	transform: translateY(-50%);
}
.point-wrapper h2{
	color:#5d5d5d;
	font-size:43px;
	padding:38px 0;
}
.point-wrapper h2 span{
	font-size:80%;
}
.item{
	background:-webkit-linear-gradient(125deg,#2F0001,#bd985d,#2F0001);
	width: 212px;
	height: 212px;
	border-radius:50%;
	margin-right:10%;
	font-family: "ＭＳ ゴシック", "MS Gothic";
	font-style:oblique;
	font-size:35px;
	color:#fff;
	float:left;
}
.inside span{
	font-size:60%;
}
.inside{
	padding:50px 0 52px 0;
}
.items{
	width: 80%;
	padding-bottom:38px;
	margin-left:25%;
}
/*------------グラデーション練習--------------*/
.number{
height:300;
	font-size:100px;
	font-weight: 600;
text-align: center;
}
.one{
	background: -webkit-radial-gradient(red,#000);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.two{
	
  margin     : auto;
  max-width  : 500px;
  height     : 200px;
                                      /* ドット（水玉）模様のCSS */
  background-color   : #ffffff;
  background-image   : radial-gradient(#ff4d4d 30%, transparent 33%),
                       radial-gradient(#ff4d4d 30%, transparent 33%);
  background-position: 0 0, 30px 30px;
  background-size    : 60px 60px;

}
.two h1{
	transform:translateY(-50%);
}
.three{ /*ジグザグのやりかた https://cotodama.co/zigzag_bg/ */

	background:linear-gradient(45deg,#ff328e 50%,transparent 52%),
		linear-gradient(315deg,#ff328e 50%,transparent 52%);
	 background-size: 100px 100px;
	 height:50px;
}
.four{
	position:absolute;
	right:0;
	text-align: left;
}
.four p{
	writing-mode:vertical-rl;
		font-size: 20px;
	font-weight: normal;
	line-height:2em;
}
.five{
	font-size:200px;
	background:url("feat-april-6-1.jpg");
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.six{
	background:linear-gradient(90deg,#e8e7da, #ade5df, #ade5b0);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	height: 200px;
}
.seven{
	background:linear-gradient(45deg, #f9ccea, #dbbbc5, #f1628e, #ffa1be);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	height:300px;
}
.eight{
	height: 815px;
	background:#ffa1be url("party.jpg") no-repeat;
	background-blend-mode: multiply;
}
.nine{
position:relative;
}

.nine .box{
  position:absolute;
  z-index:10;
  width: 100px;
  height: 100px;
background: rgba(207,49,238,0.25);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border-radius: 10px;
   -moz-box-shadow:    inset 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 10px #fff;
   box-shadow:         inset 0 0 10px #fff;
transition-duration:1s;
}


.nine .box2{
    width: 500px;
  height: 500px;
  position:absolute;
  top:50px;
background: gray;
}

.nine .box:hover{
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
transition-duration:1s;
  }	
}
